<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="#">Apps</b-navbar-brand>

      <b-navbar-nav>
        <b-nav-item to="/user">User</b-nav-item>
        <b-nav-item to="/userbalance">Balance</b-nav-item>
        <b-nav-item to="/userbalance/history">History</b-nav-item>
        <b-nav-item to="/bankbalance">Bank Balance</b-nav-item>
        <b-nav-item to="/bankbalance/history">History</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-navbar-nav>
          <form @submit.prevent="logouT">
            <button type="submit" Onclick="return confirm('Are you sure ?')" class="btn btn-info my-sm-0">Logout</button>
          </form>
        </b-navbar-nav>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>

<script>
import axios from "axios";

export default {
  methods: {
    async logouT() {
      let response = await axios.post("http://127.0.0.1:8000/api/logout");
      if (response.status == 200) {
        localStorage.setItem("token", "");
        this.$router.push("/");
      }
    },
  },

  created() {
    axios.defaults.headers.common["Authorization"] = "Bearer " + localStorage.getItem("token");
  },
};
</script>
