<template>
  <div>
    <Navigation />
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-5 mt-5">
          <div class="card">
            <div class="card-header">
              create user
            </div>
            <div class="card-body">
              <form method="post" @submit.prevent="create" autocomplete="off">
                <div class="form-group">
                  <label>Name *</label>
                  <input type="text" v-model="form.name" class="form-control" placeholder="name" />
                  <div v-if="theErrors.name" class="text-danger mt-2">{{ theErrors.name[0] }}</div>
                </div>
                <div class="form-group">
                  <label>Username *</label>
                  <input type="text" v-model="form.username" class="form-control" placeholder="username" />
                  <div v-if="theErrors.username" class="text-danger mt-2">{{ theErrors.username[0] }}</div>
                </div>
                <div class="form-group">
                  <label>Email *</label>
                  <input type="email" v-model="form.email" class="form-control" placeholder="example@example.com" />
                  <div v-if="theErrors.email" class="text-danger mt-2">{{ theErrors.email[0] }}</div>
                </div>
                <div class="form-group">
                  <label>Password *</label>
                  <input type="password" v-model="form.password" class="form-control" placeholder="password" />
                  <div v-if="theErrors.password" class="text-danger mt-2">{{ theErrors.password[0] }}</div>
                </div>
                <div class="d-flex justify-content-between">
                  <button type="submit" class="btn btn-outline-info col-10">Save</button> &nbsp;
                  <router-link to="/user" class="btn btn-outline-warning col-2">Back</router-link>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
input[type="text"]::placeholder {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
}
</style>

<script>
import axios from "axios";
import Navigation from "../../components/Navigation.vue";
export default {
  components: {
    Navigation,
  },

  data() {
    return {
      form: {
        name: "",
        username: "",
        email: "",
        password: "",
      },
      theErrors: [],
    };
  },

  methods: {
    async create() {
      try {
        let response = await axios.post("http://127.0.0.1:8000/api/user/create", this.form);
        if (response.status == 200) {
          this.$router.push("/user");
        }
      } catch (e) {
        this.theErrors = e.response.data.errors;
      }
    },
  },
};
</script>
