<template>
  <div>
    <Navigation />
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-5 mt-5">
          <div class="card">
            <div class="card-header">
              edit user
            </div>
            <div class="card-body">
              <form method="post" @submit.prevent="update" autocomplete="off">
                <div class="form-group">
                  <label>Name *</label>
                  <input type="text" v-model="form.name" class="form-control" placeholder="name" />
                  <div v-if="theErrors.name" class="text-danger mt-2">{{ theErrors.name[0] }}</div>
                </div>
                <div class="form-group">
                  <label>Username *</label>
                  <input type="text" v-model="form.username" class="form-control" placeholder="username" />
                  <div v-if="theErrors.username" class="text-danger mt-2">{{ theErrors.username[0] }}</div>
                </div>
                <div class="form-group">
                  <label>Email *</label>
                  <input type="email" v-model="form.email" class="form-control" placeholder="example@example.com" />
                  <div v-if="theErrors.email" class="text-danger mt-2">{{ theErrors.email[0] }}</div>
                </div>
                <div class="form-group">
                  <label>New Password *</label>
                  <input :type="passwordFieldType" v-model="form.password" class="form-control" placeholder="password" />
                  <div class="mt-2"><input type="checkbox" @click="showVisibility" /> &nbsp;<small>Show Password</small></div>
                  <div v-if="theErrors.password" class="text-danger mt-2">{{ theErrors.password[0] }}</div>
                </div>
                <div class="d-flex justify-content-between">
                  <button type="submit" class="btn btn-outline-info col-10">Update</button> &nbsp;
                  <router-link to="/user" class="btn btn-outline-warning col-2">Back</router-link>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
input[type="text"]::placeholder {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
}
</style>

<script>
import axios from "axios";
import Navigation from "../../components/Navigation.vue";
export default {
  components: {
    Navigation,
  },

  data() {
    return {
      form: [],
      theErrors: [],
      password: "",
      passwordFieldType: "password",
    };
  },
  mounted() {
    this.getUser();
  },

  methods: {
    async getUser() {
      let response = await axios.get(`http://127.0.0.1:8000/api/user/${this.$route.params.id}/show`);
      if (response.status == 200) {
        this.form = response.data;
      }
    },
    showVisibility() {
      this.passwordFieldType = this.passwordFieldType === "password" ? "text" : "password";
    },
    async update() {
      try {
        let response = await axios.put(`http://127.0.0.1:8000/api/user/${this.$route.params.id}/edit`, this.form);
        if (response.status == 200) {
          this.$router.push("/user");
        }
      } catch (e) {
        this.theErrors = e.response.data.errors;
      }
    },
  },
};
</script>
