<template>
  <div>
    <Navigation />
    <div class="container mt-5">
      <div class="d-flex justify-content-between">
        <h3>User</h3>
        <router-link :to="{ name: 'user.create' }" class="btn btn-primary mb-3" title="Create">Create</router-link>
      </div>
      <div class="table table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Email</th>
              <th>Created_at</th>
              <th>Updated_at</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(data, index) in Users" :key="data.id">
              <td>{{ index + 1 }}</td>
              <td>
                <router-link :to="{ name: 'user.show', params: { id: data.id } }" title="detail">{{ data.name }}</router-link>
              </td>
              <td>{{ data.email }}</td>
              <td>{{ getHumanDate(data.created_at) }}</td>
              <td>{{ getHumanDate(data.updated_at) }}</td>
              <td>
                <router-link :to="{ name: 'user.edit', params: { id: data.id } }" class="btn btn-warning btn-sm" title="edit">edit</router-link>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Navigation from "../../components/Navigation.vue";
import axios from "axios";
import moment from "moment";
export default {
  components: {
    Navigation,
  },

  data() {
    return {
      Users: [],
    };
  },

  mounted() {
    this.GetUser();
  },

  methods: {
    async GetUser() {
      try {
        let response = await axios.get("http://127.0.0.1:8000/api/user");
        if (response.status == 200) {
          this.Users = response.data;
        }
      } catch (error) {}
    },
    getHumanDate: function(date) {
      return moment(date, "DD").format("DD/MM/YYYY");
    },
  },
};
</script>
