<template>
  <div>
    <Navigation />
    <div class="container mt-5">
      <h1>{{ user.name }}</h1>
      <hr />
      <div class="mb-4">username : {{ user.username }}</div>
      <div class="mb-4">email : {{ user.email }}</div>
    </div>
  </div>
</template>

<script>
import Navigation from "../../components/Navigation.vue";
import axios from "axios";
export default {
  components: {
    Navigation,
  },

  data() {
    return {
      user: [],
    };
  },

  mounted() {
    this.GetUser();
  },

  methods: {
    async GetUser() {
      let response = await axios.get(`http://127.0.0.1:8000/api/user/${this.$route.params.id}/show`);
      if (response.status == 200) {
        this.user = response.data;
      }
    },
  },
};
</script>
