<template>
  <div>
    <Navigation />
    <h1>bank balance</h1>
  </div>
</template>

<script>
import Navigation from "../components/Navigation.vue";
export default {
  components: {
    Navigation,
  },
};
</script>

<style></style>
