<template>
  <div>
    <Navigation />
    <div class="container mt-5">
      <div class="d-flex justify-content-between">
        <h3>User Balance History</h3>
      </div>
      <div class="table table-responsive">
        <table class="table table-striped">
          <thead>
            <br />
            <tr>
              <th>Author</th>
              <th>Balance Before</th>
              <th>Balance After</th>
              <th>Location</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="data in historys" :key="data.id">
              <td>{{ data.author }}</td>
              <td>{{ data.balanceBefore }}</td>
              <td>{{ data.balanceAfter }}</td>
              <td>{{ data.location }}</td>
              <td>{{ getHumanDate(data.created_at) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Navigation from "../components/Navigation.vue";
import axios from "axios";
import moment from "moment";
export default {
  components: {
    Navigation,
  },

  data() {
    return {
      historys: [],
    };
  },

  mounted() {
    this.GetUserbalance();
  },

  methods: {
    async GetUserbalance() {
      let response = await axios.get("http://127.0.0.1:8000/api/userbalance/history");
      this.historys = response.data;
    },
    getHumanDate: function(date) {
      return moment(date, "DD").format("DD/MM/YYYY");
    },
  },
};
</script>
