<template>
  <div>
    <Navigation />
    <div class="container mt-5">
      <div class="d-flex justify-content-between">
        <h3>User Balance</h3>

        <router-link to="/userbalance/create" class="btn btn-primary mb-3" title="Create">Create Balance</router-link>
      </div>
      <div class="table table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>balance</th>
              <th></th>
              <th></th>
              <th>Rp. {{ sumBalanceAchieve }}</th>
            </tr>
            <br />
            <tr>
              <th>#</th>
              <th>Amount Created</th>
              <th>Balance Achieve</th>
              <th>Created_at</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(data, index) in Userbalance" :key="data.id">
              <td>{{ index + 1 }}</td>
              <td>{{ data.balance }}</td>
              <td>{{ data.balanceAchieve }}</td>
              <td>{{ getHumanDate(data.created_at) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Navigation from "../components/Navigation.vue";
import axios from "axios";
import moment from "moment";
export default {
  components: {
    Navigation,
  },

  data() {
    return {
      Userbalance: [],
      sumBalanceAchieve: "",
    };
  },

  mounted() {
    this.GetUserbalance();
  },

  methods: {
    async GetUserbalance() {
      let response = await axios.get("http://127.0.0.1:8000/api/userbalance");
      this.Userbalance = response.data.get;
      this.sumBalanceAchieve = response.data.balanceAchieve.balanceAchieve;
    },
    getHumanDate: function(date) {
      return moment(date, "DD").format("DD/MM/YYYY");
    },
  },
};
</script>
