<template>
  <div>
    <Navigation />
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-5 mt-5">
          <div class="card">
            <div class="card-header">
              New balance
            </div>
            <div class="card-body">
              <form method="post" @submit.prevent="create" autocomplete="off">
                <div class="form-group">
                  <label>amount *</label>
                  <input type="number" v-model="form.balance" class="form-control" />
                  <div v-if="theErrors.balance" class="text-danger mt-2">The amount field is required</div>
                </div>

                <div class="d-flex justify-content-between">
                  <button type="submit" class="btn btn-outline-info col-10">Save</button> &nbsp;
                  <router-link to="/userbalance" class="btn btn-outline-warning col-2">Back</router-link>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
input[type="text"]::placeholder {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
}
</style>

<script>
import axios from "axios";
import Navigation from "../components/Navigation.vue";
export default {
  components: {
    Navigation,
  },

  data() {
    return {
      form: {
        balance: "",
        location: "",
      },
      theErrors: [],
    };
  },

  mounted() {
    this.Getlocation();
  },

  methods: {
    async create() {
      try {
        let response = await axios.post("http://127.0.0.1:8000/api/userbalance/create", this.form);
        if (response.status == 200) {
          this.$router.push("/userbalance");
        }
      } catch (e) {
        this.theErrors = e.response.data.errors;
      }
    },
    async Getlocation() {
      let response = await axios.get("https://127.0.0.1:8000/api/userbalance/location");
      this.form.location = response.data;
    },
  },
};
</script>
